#header {
  display: inline-flex;
}

#owner {
  font-size: 25px;
  font-style: oblique;
  font-weight: 800;
  margin-left: 28px;
  margin-top: 22px;
}

nav {
  display: flex;
  flex-direction: row;
  margin: 31px 83px 0 83px;
  padding: 10px 160px 16px 160px;
  font-size: 19px;
  border-left: solid black 2px;
  border-right: solid black 2px;
}

#socialMedia {
  font-size: 19px;
  margin-top: 31px;
}
