#header {
  display: inline-flex;
}

#owner {
  font-size: 25px;
  margin-left: 28px;
  margin-top: 22px;
}

nav {
  display: flex;
  flex-direction: row;
  margin: 31px 83px 0 83px;
  padding: 0 170px 0 170px;
  font-size: 19px;
}

#socialMedia {
  border-left: solid black 2px;
  font-size: 19px;
  margin-top: 31px;
}
