#header {
  margin-bottom: 35px;
}

#owner {
  font-size: 32px;
  font-style: oblique;
  font-weight: 800;
  margin-top: 22px;
  text-align: center;
}

#headerSides {
  font-size: 22px;
  text-align: center;
  margin-top: 39px;
}

#headerSides a {
  padding-right: 5px;
}

#navigation {
  text-align: center;
  border-top: 2px solid black;
  padding-top: 12px;
}
